/*
  Archivo css para dar formato al inicio de la app

*/
h1{
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(255, 234, 0, 0.696);
    text-shadow: 0 0 40px rgba(241, 245, 158, 0.705),
                 100px 0 50px rgba(211, 211, 183, 0.806),
                 -100px 0 50px rgba(255, 255, 255, 0.783);
    margin-top: 100px;
}

form{
    margin-block-start: 240px;
}

.form-group, .login{
    display: flex;
    align-items: center;
    justify-content: center;
}

html{
    /* margin: 300px 20px 200px 20px; */
    /* background: radial-gradient(rgb(195, 244, 245), rgb(4, 175, 175)); */
    background-image: url('https://i.postimg.cc/65Dbh1fJ/back.jpg');
    background-size: cover;
    font-size: 30px;
}

label{
    margin-right: 4px;
    color: rgb(96, 95, 95);
}

input{
    border: inset 2px rgba(208, 178, 7, 0.856);
    /* border-radius: 18px; */
    /* margin-left: 9px; */
    background-color: rgba(230, 230, 230, 0.733);
    box-shadow: 0px 2px 2px rgb(223, 213, 8),
                0px 0px 4px rgb(240, 230, 39), 
                0px 0px 6px rgb(246, 239, 111), 
                0px 0px 8px white;
    overflow: hidden;
    font-size: 20px;
    height: 35px;
    text-align: center;
}

#name{
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}

#psw{
    /* margin-left: 10px; */
    margin-top: 5px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 100px;
    border-bottom-left-radius: 110px;
}

button{
    margin-top: 6px;
    margin-left: 10px;
    width: 100px;
    border: inset 2px rgba(208, 178, 7, 0.856);
    border-radius: 15px;
    box-shadow: 0px 2px 2px rgb(223, 213, 8),
                0px 0px 4px rgb(240, 230, 39), 
                0px 0px 6px rgb(246, 239, 111), 
                0px 0px 8px white;
    height: 25px;
    background-color: rgba(245, 245, 245, 0.838);
    text-shadow: 0 0 5px rgb(169, 163, 163);
    font-size: 15px;
}