/*
  Archivo css para dar formato al inicio de la app

*/
h1{
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(255, 234, 0, 0.696);
    text-shadow: 0 0 40px rgba(241, 245, 158, 0.705),
                 100px 0 50px rgba(211, 211, 183, 0.806),
                 -100px 0 50px rgba(255, 255, 255, 0.783);
    margin-top: 100px;
}

form{
    margin-block-start: 20px;
}

.form-group, .login{
    display: flex;
    align-items: center;
    justify-content: center;
}
img {
    width: 700px;
    margin-bottom: 1px;
    border: none;
    align-self: center;
}
html{
    background: radial-gradient(#016c7f, rgb(3, 3, 3));
    /* background-size: ; */
    background-attachment: fixed;
    font-size: 30px;
}

label{
    margin-right: 4px;
    color: rgb(96, 95, 95);
}

input{
    border: inset 2px rgba(208, 178, 7, 0.856);
    /* border-radius: 18px; */
    /* margin-left: 9px; */
    background-color: rgba(230, 230, 230, 0.733);
    box-shadow: 0px 2px 2px rgb(223, 213, 8),
                0px 0px 4px rgb(240, 230, 39),
                0px 0px 6px rgb(246, 239, 111),
                0px 0px 8px white;
    /* overflow: hidden; */
    font-size: 20px;
    height: 40px;
    text-align: center;
}

#name{
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    position: relative;
    bottom: 10px;
}

#psw{
    /* margin-left: 10px; */
    margin-top: 5px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 100px;
    border-bottom-left-radius: 110px;
}

button{
    margin-top: 6px;
    margin-left: 10px;
    width: 110px;
    height: 30px;
    border: inset 2px rgba(208, 178, 7, 0.856);
    border-radius: 15px;
    box-shadow: 0px 2px 2px rgb(223, 213, 8),
                0px 0px 4px rgb(240, 230, 39),
                0px 0px 6px rgb(246, 239, 111),
                0px 0px 8px white;
    background-color: rgba(245, 245, 245, 0.838);
    text-shadow: 0 0 5px rgb(169, 163, 163);
    font-size: 15px;
}

.toc{
    position: relative;
    top: 10px;
}


.error_register {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 20px;
    background-color: #016c7f;
    border: 2px solid #00ccff;
    width: 300px;
    border-radius: 5px;
    color: #ffffff;
  }

  .error_register h3 {
    font-size: 30px;
    color: #ff0000;
  }

  .error_register p {
    font-size: 18px;
    color: #ffffff;
    margin: 10px 0;
  }

  .boton {
    display: inline-block;
    padding: 10px 20px;
    background-color: #0aafd4;
    color: rgb(255, 255, 255);
    text-decoration: none;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    margin: 10px 0;
    transition: background-color 0.3s, transform 0.3s;
  }

  .boton:hover {
    background-color: #04dff8;
    transform: scale(1.05);
  }

