html {
  background-image: url('https://i.imgur.com/fVLUjOQ.jpg');
  background-size: 100%;
  background-position: absolute;
}

h1 {
  text-align: center;
  color: rgb(22, 149, 247);
  margin-top: 30px;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
  font-size: 44px;
  text-shadow: 0 0 10px rgb(253, 250, 250), 0 0 10px rgb(253, 250, 250), 0 0 10px rgb(253, 250, 250), 0 0 10px rgb(253, 250, 250);
}

/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  margin-top: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

li {
  width: 200px;
  margin: 20px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Estilos para la medalla */
li:before {
  content: "";
  display: block;
  width: 60px;
  height: 60px;
  background-image: url("https://img.lovepik.com/free-png/20220120/lovepik-medal-png-image_401529273_wh860.png");
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  margin: -30px auto 10px;
}

/* Estilos para el nombre del logro */
li h2 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
  text-align: center;
}

/* Estilos para la descripción del logro */
li p {
  font-size: 14px;
  margin-bottom: 10px;
  color: #666;
  text-align: center;
}



/* Estilos para el progreso */
progress {
  display: block;
  width: 100%;
  height: 10px;
  margin-top: 10px;
}

/* Estilos para el botón */
.boton {
  display: inline-block;
  background-color: #4CAF50;
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.boton:hover {
  background-color: #45a049;
}


/* Estilos para el texto de logros no desbloqueados */
.locked-text {
  opacity: 0.5;
  filter: blur(2px); /* Desenfoque */
  color: #999; /* Color de texto reducido */
  user-select: none; /*para que no seleccionen*/
}



