/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  margin-top: 0%;
  padding: 0;
  background-image: url("https://i.pinimg.com/originals/ab/7b/5d/ab7b5d60e8f7458465c42f1493c8b7ce.jpg");
  /* background-size: ; */
  background-size: cover;
  background-attachment: fixed;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.niveles {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

h1 {
  font-size: 32px;
  margin-bottom: 20px;
  font-family: "Times New Roman", serif;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  color: #fff;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

/* Estilos para los enlaces de los niveles */
.tema-link {
  display: inline-block;
  padding: 10px 20px;
  background-color: #f8b602c5;
  color: #333;
  text-decoration: none;
  font-size: 16px;
  border-radius: 5px;
  transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.tema-link:hover {
  background-color: #fff479;
  transform: scale(1.1);
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
}

/* Estilos para el mensaje de terminación de preguntas */
.terminado {
  color: #888;
  font-style: italic;
}

#salir {
  text-align: right;
  padding: 10px;
}

.boton-salir {
  display: inline-block;
  padding: 10px 20px;
  background-color: #10c9ad;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s; /* Agrega la transición para los cambios */
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Agrega sombra al botón */
}

.boton-salir:hover {
  background-color: #068d79;
  transform: scale(1.1);
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3); /* Aumenta la sombra al pasar el cursor sobre el botón */
}

#guia {
  text-align: center;
  margin-bottom: 20px;
  font-size: large;
  text-shadow: 0 2px 2px black;
}

.boton-guia {
  display: inline-block;
  padding: 10px 20px;
  background-color: #4fcbe1;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.boton-guia:hover {
  background-color: #028db3;
  transform: scale(1.1);
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
}

p{
  color: white;
  text-shadow: 0 0 20px white;
}