/*
  Archivo css para dar formato al perfil del usuario

*/

html{
  background: radial-gradient(rgb(1, 108, 127), rgb(3, 3, 3));
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 5s;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}


a {
  margin: 3px;
  width: 130px;
  height: 30px;
  font-size: large;
  color: rgb(209, 202, 202);
  text-decoration: none;
  text-align: center;
  border-radius: 5px;
  padding: 2px;
}

#but {
  display: flex;
  justify-content: center;
}

.boton {
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#5efdf0), to(#0567fa));
  background: -moz-linear-gradient(top, #3ffaea, #0567fa);
  border-radius: 8px;
  color: #fff;
  font-size: 18px;
  margin: 5px 5px;
  padding: 10px 20px;
  text-decoration: none;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  box-shadow: -1px 4px 0 rgba(0, 29, 34);
}

.boton:hover {
  box-shadow: -1px 8px 0 rgba(1, 74, 87);
  transform: scale(1.05);
}

body{
  height: inherit;
  display: grid;
  grid-template-rows: 70% 5%;
  align-content: center;
  justify-content: center;
}

.card {
  width: 250%;
  height: 98%;
  background: linear-gradient( rgb(191, 196, 196),rgb(1, 119, 183));
  border-radius: 10px;
  position: relative;
  left: -72%;
  display: flex;
  cursor: pointer;
  justify-content: center;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.409);
}

.card-cover-image {
  position: absolute;
  top: 2%;
  width: 95%;
  height: 200px;
  z-index: 2;
  border-radius: 10px 10px 0 0;
  object-fit: cover;
  border: 2px inset rgba(128, 128, 128, 0.589);
}

.card .img{
  width: 185px;
  height: 200px;
  z-index: 10;
  transform: translateY(150px);
  position: relative;
  left: -70px;
}

.card .img img {
  border: 4px groove #59525299; /* Puedes ajustar el color y el grosor del borde según tus preferencias */
  border-radius: 20%;
  width: 220px;
  height: 220px;
  object-fit: cover;
  margin-bottom: 10px;
  transition: transform 0.3s ease;
  filter: contrast(1.05) brightness(0.98);
  background: linear-gradient(rgba(4, 104, 104, 0.495), rgba(3, 206, 159, 0.445));
}


.imagen:hover {
  transform: scale(1.05);
}


.content{
  color: rgb(255, 255, 255);
  width: 50%;
  height: 50%;
  transform: translateY(220px);
  position: relative;
  text-align: center;
  align-items: center;
  justify-items: center;
}
.content p{
  font-size: 25px;
}
.content h2 {
  font-size: 40px;
  position: relative; /* Necesario para posicionar el subrayado correctamente */
}

.content h2, h1, p{
  text-shadow: 0 4px 3px black;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.center{
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
}
.box{
  border-radius: 10px;
}



