/*
  Archivo css para dar formato al perfil del usuario

*/

html{
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ1TmI_pVDnOttEmc-ueNkt-h7at-xGVYYINA&usqp=CAU');
  background-size: 100%;
  background-position: center;
}

h1, p{
  color: rgb(22, 149, 247);
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
  font-size: 44px;
  text-shadow: 0 0 10px rgb(253, 250, 250), 0 0 10px rgb(253, 250, 250), 0 0 10px rgb(253, 250, 250), 0 0 10px rgb(253, 250, 250);
}

p{
  color: rgb(22, 149, 247);
  font-family: 'Arial Black', Times, serif;
  font-size: 25px;
  text-shadow: 0 0 10px rgb(253, 250, 250), 0 0 10px rgb(253, 250, 250), 0 0 10px rgb(253, 250, 250), 0 0 10px rgb(253, 250, 250);
  margin-top: 10px;
}

.container {
background-color: rgba(255, 255, 255, 0.1);
border-radius: 5px;
/* box-shadow: 0 2px 5px rgba(240, 233, 233, 0.3); */
margin: 20px auto;
max-width: 400px;
padding: 20px;
text-align: center;
display: block;
}
img {
  border-radius: 50%;
  width: 250px;
  height: 250px;
  object-fit: cover;
  margin-bottom: 10px;
  margin-top: 100px;
}

/* p {
margin-bottom: 20px;
} */

.boton {
background-color: #0544a4;
border: none;
border-radius: 3px;
color: #fff;
display: inline-block;
font-size: 18px;
margin: 10px 5px;
padding: 10px 20px;
text-decoration: none;
transition: background-color 0.3s ease;
}

.boton:hover {
background-color: #05298c;
}


img {
border-radius: 50%;
}

.imagen {
width: 200px;
height: 200px;
}


/* Estilos adicionales para letras llamativas */
/* h1 {
font-family: "Impact", sans-serif;
font-size: 36px;
text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

p {
font-family: "Arial black", sans-serif;
}
*/

a{
  display: block;
  margin: 3px;
  width: 130px;
  height: 30px;
  font-size: large;
  color: rgb(209, 202, 202);
  font-family: 'Times New Roman', Times, serif;
  background-color: rgb(6, 87, 207);
  text-decoration: none;
  text-align: center;
  border-radius: 5px;
  padding: 2px;
}

a:hover{
    background-color: rgb(3, 59, 144);
    height: 35px;
    width: 135px;
}

.puntuacion {
  font-family: Arial, sans-serif; /* Cambia la fuente según tus preferencias */
  font-size: 18px; /* Tamaño de fuente para el texto de puntuación */
  color: #000000; /* Color del texto de puntuación */
  display: inline-block;
  background-color: #afdee2; /* Color de fondo del contenedor */
  padding: 10px; /* Espacio interno del contenedor */
  border-radius: 5px; /* Bordes redondeados del contenedor */
}

.puntuacion-texto {
  font-weight: bold; /* Texto en negrita para el título "Score" */
}

.puntuacion-numero {
  font-weight: bold; /* Texto en negrita para el número de puntuación */
  color: #0a0a0a; /* Color del número de puntuación */
}
