/*
  Archivo css para dar formato al perfil del usuario

*/

html{
  background-image: url('https://i.pinimg.com/originals/b3/08/98/b308981c87432eb7ba3433480e72f14d.png');
  background-size: 80%;
  background-position: center;
  height: 100%;width: 100%;
}

h1, p{
  color: rgb(244, 244, 244);
  font-weight: bold;
  margin: 10px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 44px;
  text-shadow: 0 0 20px rgba(0, 242, 255, 0.879),
               0 0 20px rgba(88, 242, 250, 0.879),
               0 0 20px rgba(178, 242, 245, 0.879);
}

p{
  color: rgb(230, 230, 228);
  font-family: 'Arial Black', Times, serif;
  font-size: 25px;
  text-shadow: 0 0 20px rgba(0, 242, 255, 0.879),
               0 0 20px rgba(88, 242, 250, 0.879),
               0 0 20px rgba(178, 242, 245, 0.879);
}

.container {
background-color: rgba(231, 240, 247, 0.201);
border-top-left-radius: 100px;
border-bottom-right-radius: 100px;
margin: 20px auto;
max-width: 400px;
padding: 20px;
text-align: center;
display: block;
}
img {
  border-radius: 50%;
  width: 250px;
  height: 250px;
  object-fit: cover;
  margin-bottom: 10px;
  margin-top: 50px;
}

/* p {
margin-bottom: 20px;
} */

.boton {
background-color: #08b5d8;
border: none;
border-radius: 20px;
color: #fff;
font-size: 18px;
margin: 5px 5px;
padding: 10px 20px;
text-decoration: none;
transition: background-color 0.3s ease;
}

.boton:hover {
  background-color: #05c2c9;
  box-shadow: 0 0 20px #0fcbf9;
}

.imagen {
  /* margin-top: 8%; */
width: 200px;
height: 200px;
border: solid 5px rgb(210, 197, 197);
box-shadow: 0 0 20px rgba(24, 240, 252, 0.879);
}


a{
  display: block;
  margin: 3px;
  width: 130px;
  height: 30px;
  font-size: large;
  color: rgb(209, 202, 202);
  font-family: 'Times New Roman', Times, serif;
  background-color: rgb(6, 87, 207);
  text-decoration: none;
  text-align: center;
  border-radius: 5px;
  padding: 2px;
}

a:hover{
    background-color: rgb(3, 59, 144);
    height: 35px;
    width: 135px;
}

.puntuacion {
  font-family: Arial, sans-serif; /* Cambia la fuente según tus preferencias */
  font-size: 18px; /* Tamaño de fuente para el texto de puntuación */
  color: #000000; /* Color del texto de puntuación */
  display: inline-block;
  background-color: #afdee2; /* Color de fondo del contenedor */
  padding: 10px; /* Espacio interno del contenedor */
  border-radius: 5px; /* Bordes redondeados del contenedor */
}

.puntuacion-texto {
  font-weight: bold; /* Texto en negrita para el título "Score" */
}

.puntuacion-numero {
  font-weight: bold; /* Texto en negrita para el número de puntuación */
  color: #0a0a0a; /* Color del número de puntuación */
}
