/*
  Archivo css para dar formato al perfil del usuario

*/

html{
  background-image: url('https://th.bing.com/th/id/R.5cf725699a41fe28493e5ecb69c0eb95?rik=vgMoBRbbhJ9LPw&riu=http%3a%2f%2fblogfiles.naver.net%2f20140813_188%2fthinkingbug_1407866288755v2daK_JPEG%2f%C8%B2%25B1%DD%BA%25F12.jpg&ehk=YBlRTnpdYqzGz280mDtWxTTbSx4o3f6YfImjiveWFyk%3d&risl=&pid=ImgRaw&r=0');
  background-size: 80%;
  background-position: center;
}

h1, p{
  color: rgb(22, 149, 247);
  font-weight: bold;
  margin: 10px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 44px;
  text-shadow: 0 0 10px rgb(253, 250, 250), 0 0 10px rgb(253, 250, 250), 0 0 10px rgb(253, 250, 250), 0 0 10px rgb(253, 250, 250);
}

p{
  color: rgb(22, 149, 247);
  font-family: 'Arial Black', Times, serif;
  font-size: 25px;
  text-shadow: 0 0 10px rgb(253, 250, 250), 0 0 10px rgb(253, 250, 250), 0 0 10px rgb(253, 250, 250), 0 0 10px rgb(253, 250, 250);
}

.container {
background-color: rgba(255, 255, 255, 0.1);
border-top-left-radius: 100px;
border-bottom-right-radius: 100px;
margin: 20px auto;
max-width: 400px;
padding: 20px;
text-align: center;
display: block;
}
img {
  border-radius: 50%;
  width: 250px;
  height: 250px;
  object-fit: cover;
  margin-bottom: 10px;
  margin-top: 50px;
}

/* p {
margin-bottom: 20px;
} */

.boton {
background-color: #c5a508;
border: none;
border-radius: 20px;
color: #fff;
font-size: 18px;
margin: 5px 5px;
padding: 10px 20px;
text-decoration: none;
transition: background-color 0.3s ease;
}

.boton:hover {
background-color: #be9f05;
box-shadow: 0 0 20px #f4d01d;
}

.imagen {
  /* margin-top: 8%; */
width: 200px;
height: 200px;
border: solid 5px#a18701;
box-shadow: 0 0 11px #c5a508;
}


a{
  display: block;
  margin: 3px;
  width: 130px;
  height: 30px;
  font-size: large;
  color: rgb(209, 202, 202);
  font-family: 'Times New Roman', Times, serif;
  background-color: rgb(6, 87, 207);
  text-decoration: none;
  text-align: center;
  border-radius: 5px;
  padding: 2px;
}

a:hover{
    background-color: rgb(3, 59, 144);
    height: 35px;
    width: 135px;
}

.puntuacion {
  font-family: Arial, sans-serif; /* Cambia la fuente según tus preferencias */
  font-size: 18px; /* Tamaño de fuente para el texto de puntuación */
  color: #000000; /* Color del texto de puntuación */
  display: inline-block;
  background-color: #afdee2; /* Color de fondo del contenedor */
  padding: 10px; /* Espacio interno del contenedor */
  border-radius: 5px; /* Bordes redondeados del contenedor */
}

.puntuacion-texto {
  font-weight: bold; /* Texto en negrita para el título "Score" */
}

.puntuacion-numero {
  font-weight: bold; /* Texto en negrita para el número de puntuación */
  color: #0a0a0a; /* Color del número de puntuación */
}
