
h3 {
  text-align: center;
}

ul {
  list-style-type: none;
  padding: 0;
  margin-top: 20px;
}

button {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: none;
  background-color: #F15656; /* Color de fondo del botón */
  color: #fff; /* Color del texto del botón */
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #E53935; /* Color de fondo del botón al pasar el mouse */
}



body {
    font-family: Arial, sans-serif;
    margin-top:12%;
    padding: 0;
    background-image: url("https://i.pinimg.com/originals/ab/7b/5d/ab7b5d60e8f7458465c42f1493c8b7ce.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }

  img {
    border-radius: 50%;
    width: 250px;
    height: 250px;
    margin-bottom: 10px;
    /* margin-top: 80px;} */
  }


  h3 {
    text-align: center;
    align-items: center;
    color: rgb(252, 252, 252);
    border-radius: 10px;
    margin-bottom: 40px;
    text-shadow: 0 0 5px #000000;
  }

  h2 {
    align-content: right;
    align-items: center;
    color: rgb(252, 252, 252);
    border-radius: 10px;
    margin-bottom: 40px;
    text-shadow: 0 0 5px #87a315;
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
  }


  #pregunta {
    background-color: rgba(10, 190, 245, 0.203); /* Fondo transparente */
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
  }

  button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: none;
    background-color: #6bd5f8; /* Color de fondo del botón */
    color: #000000; /* Color del texto del botón */
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }


  .button-sig {
    display: block;
    width: 50%;
    padding: 10px;
    margin-top: 10px;
    border: none;
    background-color: #6bd5f8; /* Color de fondo del botón */
    color: #000000; /* Color del texto del botón */
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }


  button:hover {
    background-color: #10add8; /* Color de fondo del botón al pasar el mouse */
  }


  button:focus {
    outline: none;
  }

  #score {
    /* position: ; */
    margin-right: 20px;
    bottom: 0;
    left: 0;
    text-align: right;
    /* margin-block-start: 80]%; */
  }

     h1, p{
      color: white;
      text-shadow: 0 0 20px white;
    }

    #h1{
      margin-top: 250px;
    }

    p{
      font-size: 20px;
    }
  a.boton{
    display: block;
    text-decoration: none;
    color: #b8e4f3;
    background-color: #03b6e87d;
    height: 30px;
    width: 150px;
    padding-top: 8px;
    padding-bottom: -1px;
    border-radius: 5px;
    margin-top: 50px;
  }

  a.boton:hover{
    background-color: #00c8ff89;
  }

  .fancy-button{
    margin-top: 50px;
    width: 500px;
    text-decoration: none;
  }

  #pregunta-resp-true{
    box-shadow: 0 0 20px rgb(13, 225, 13);
    animation:bounce-top .8s linear both
  }

  @keyframes bounce-top{
    0%{
      transform:translateY(-45px);
      animation-timing-function:ease-in;opacity:1
    }
    24%{
      opacity:1
    }
    40%{
      transform:translateY(-24px);
      animation-timing-function:ease-in
    }
    65%{
      transform:translateY(-12px);
      animation-timing-function:ease-in
    }
    82%{
      transform:translateY(-6px);
      animation-timing-function:ease-in
    }
    93%{
      transform:translateY(-4px);
      animation-timing-function:ease-in
    }
    25%,55%,75%,87%{
      transform:translateY(0);
      animation-timing-function:ease-out
    }
    100%{
      transform:translateY(0);
      animation-timing-function:ease-out;opacity:1
    }
  }


#pregunta-resp-false{
  box-shadow: 0 0 20px red;
  animation:wobble-horizontal-bottom .8s linear both
}
 @keyframes wobble-horizontal-bottom{
    0%,100%{
        transform:translateX(0);
        transform-origin:50% 50%
    }
    15%{
        transform:translateX(-30px) rotate(-6deg)
    }
    30%{
        transform:translateX(15px) rotate(6deg)
    }
    45%{
        transform:translateX(-15px) rotate(-3.6deg)
    }
    60%{
        transform:translateX(9px) rotate(2.4deg)
    }
    75%{
        transform:translateX(-6px) rotate(-1.2deg)
    }
}


#salir {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 10px;
}

.boton-salir {
  display: inline-block;
  background-color: #10c9ad;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
}

.boton-salir:hover {
  background-color: #068d79;
  transform: scale(1.1);
}


.tiempo {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 10px;
  font-size: 16px;
  text-align: center;
}


#contador {
  color: #51ff00;
  font-size: 24px;
}




/* Estilo para el contenedor de la barra de progreso (centrado) */
.barra {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); /* Efecto de resplandor */
  overflow: hidden;
}

progress {
  width: 50%;
  border: 1px solid #ccc;
  border-radius: 10px;
}

/* Estilo para la parte llena de la barra de progreso */
progress::-webkit-progress-value {
  background-color: #00ff40;
}


progress[value] {
  appearance: none;
  width: 50%; height: 10px;
  border-radius: 10px;
  box-shadow: 0 2px 3px rgba(0,0,0,.5) inset;

  position: relative;
  margin: 0 0 1.5em;
}

p {
  margin-left: 1px; /* Espacio entre la barra y el texto */
  font-size: 20px;
  color: #ffffff; /* Color del texto */
}
