/*
  Archivo css para dar formato al apartado de juego (la pagina principal) de la app

*/
/* Estilos generales */
/* Estilos generales */
body {
  background-color: #f2f2f2;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.menu-lateral {
	background-color: black;
	color: #fff;
	height: 100vh;
	width: 200px;
	position: fixed;
	top: 0;
	left: 0;
	overflow-y: auto;
	display: block;
	padding-block-start: 80%;
}

.menu-lateral ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.menu-lateral ul li {
  margin-bottom: 10px;
}

.menu-lateral ul li a {
  color:#0AC3BA ;
  text-decoration: none;
  display: block;
  padding: 10px;
  border-radius: 3px;
  transition: background-color 0.3s ease;
}

.contenido-principal {
  margin-left: 220px;
  padding: 20px;
}
 li:hover{
	background-color: rgb(17, 29, 31);
 }

.contenido-principal p {
  font-size: 24px;
  margin-bottom: 20px;
}

.form-question {
  margin-bottom: 20px;
}

.form-question label {
  font-weight: bold;
}

.form-question input[type="text"] {
  width: 50%;
  padding: 10px;
  border-radius: 3px;
  border: 1px solid #ccc;
}

.topic {
  width: 10%;
  padding: 10px;
  border-radius: 3px;
  border: 1px solid #ccc;
}

.tema button {
  background-color: #ff6f61;
  border: none;
  border-radius: 3px;
  color: #fff;
  display: inline-block;
  font-size: 18px;
  padding: 12px 24px;
  text-decoration: none;
  transition: background-color 0.3s ease;
  cursor: pointer;
  font-weight: bold;
}

.tema button:hover {
  background-color: #e15750;
}

/* Estilos adicionales */
.menu-lateral ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.menu-lateral ul li a {
  display: inline-block;
  width: 150px;
  text-align: center;
  font-size: 16px;
  padding: 12px;
}

.contenido-principal {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.form-question input[type="text"],
.topic {
  background-color: #f9f9f9;
  color: #333;
}

.tema button {
  background-color: #ff6f61;
  border: none;
  border-radius: 3px;
  color: #fff;
  display: inline-block;
  font-size: 18px;
  padding: 12px 24px;
  text-decoration: none;
  transition: background-color 0.3s ease;
  cursor: pointer;
  font-weight: bold;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.tema button:hover {
  background-color: #e15750;
}
