html{
    background-image: url('https://i.pinimg.com/originals/05/f9/f7/05f9f767abac9b6b1e68971a4354593e.jpg');
    /* height: 100%; */
    background-size: 100%;
    /* width: 100%; */
}

body{
    height: 90%;
}

label{
    display: block;
    color: rgba(0, 208, 255, 0.897);
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    font-size: 35px;
    text-shadow: 0 0 20px rgba(254, 254, 254, 0.473), 
                 0 0 10px rgba(255, 255, 255, 0.829);
    text-align: center;
    padding-top: 30px;
    box-shadow: 0 2px;
}

p{
    color: rgb(177, 216, 249);
}
	.tema-button {
		display: block;
		padding: 20px 3px; /* Ajusta el padding vertical y horizontal */
		border: 1px solid #ada6a6c8;
		border-radius: 5px;
        background-color: rgba(5, 77, 136, 0.137);
        text-decoration: none;
		width: 310px;
        height: 100%;
	}

	.tema-button:hover {
		background-color: #0b6d945c;
	}

	.tema-content {
		height: 50%; /* Agrega esta propiedad para ajustar la altura */
		padding: 1px; /* Ajusta el valor del padding según tu preferencia */
		color: #12cdf7;
		text-align: center;
	}

	.tema-content h3 {
		margin: 0;
	}

	.tema-content p {
		margin: 5px 0;
	}


	.tema-item {
		display: inline-block;
		margin-right: 10px; /* Ajusta el margen derecho según tu preferencia */
	}

    .tema-list{
        display: flex;
        align-items: center;
        margin: 0;
        padding: 0;
        padding-top: 30px;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .boton {
        display: block;
        padding: 10px 20px;
        margin-top: 80px;
        background-color: #4fcbe1;
        color: rgb(23, 21, 21);
        border-radius: 5px;
        text-decoration: none;
        transition: background-color 0.1s ease;
        align-self: flex-end;
        width: 100px;
      }
    
      .boton:hover {
        background-color: #028db3;
      }
    