.light-mode-principal{
    background: linear-gradient(rgb(1, 124, 155) 50%, rgb(191, 196, 196));
    background-size: 100%;
    background-attachment: fixed;
    background-color: transparent;
    transition: 5s;
}


/* -------------- */
.light-mode-perfil{
    background: linear-gradient(rgb(1, 124, 155) 50%, rgb(191, 196, 196));
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    transition: 5s;
}


/* -------------- */
.light-mode-logro{
    background: linear-gradient(rgb(1, 124, 155) 50%, rgb(191, 196, 196));
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    transition: 5s;
}


