.light-mode-principal{
    background-image: url('https://png.pngtree.com/thumb_back/fh260/background/20220611/pngtree-aqua-abstract-background-blue-abstract-backgrounds-calm-curve-polish-photo-image_8422876.jpg');
    background-size: 100%;
    background-attachment: fixed;
    background-color: transparent;
    transition: 5s;
}

.light-mode-principal label{
    color: rgb(2, 120, 144);    
}

.light-mode-principal .tema-button{
    background-color: rgba(1, 76, 91, 0.63);
    &:hover{
        background-color: rgba(2, 122, 146, 0.785);
    }
}


/* -------------- */
.light-mode-perfil{
    background: linear-gradient(rgb(1, 124, 155) 50%, rgb(191, 196, 196));
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    transition: 5s;
}


/* -------------- */
.light-mode-logro{
    background: linear-gradient(rgb(1, 124, 155) 50%, rgb(191, 196, 196));
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    transition: 5s;
}

.light-mode-logro li{
    background-color: #014f628a;
    box-shadow: 0 2px 10px rgba(79, 230, 247, 0.788);
    &:hover{
        box-shadow: 0 2px 15px rgb(100, 255, 252);
    }
}

.light-mode-logro .boton{
    background-color: rgb(4, 170, 212);
    &:hover{
        background-color: rgb(3, 223, 252);
    }
}