<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guia</title>
    <link rel="icon" href="https://i.imgur.com/Nl7KAcL.png">
    <link href="<%= url('/guia.css') %>" rel="stylesheet" type="text/css"/>
  <!-- <link rel="stylesheet" href="/css/style.css"> -->
</head>
<html>
<head>
  <title>Página de aprendizaje</title>
</head>
<body>
  <h1>División</h1>

  <h2>Definicion</h2>
  <p>Definimos la división como aquella operación matemática que consiste en separar una cantidad en partes iguales, es decir, se trata de realizar una distribución equitativa del objeto o cosa que se quiere repartir.</p>
  
  <h2>Partes de la división</h2>
  <ul>
    <li>Dividendo es el número que se va a dividir.</li>
    <li>Divisor es el número que divide.</li> 
    <li>Cociente es el resultado de la división.</li>
    <li>Resto es lo que ha quedado del dividendo, que no se ha podido dividir porque es más pequeño que el diviso</li>
    <li>Sus términos cumplen esta relación: Dividendo = divisor * cociente + resto.</li>
  </ul>

  <h2>Propiedades</h2>
  <ul>
    <li>Cero dividido entre cualquier número siempre da cero: 0 / n = 0</li>
    <li>No se puede dividir entre cero: n / 0 = error</li>
    <li>La división no es asociativa</li>
    <li>La división no es conmutativa</li>
  </ul>


  
  
  
  <h2>Video explicativo</h2>
<iframe width="727" height="409" src="https://www.youtube.com/embed/0D1wxxlBN-0" title="Aprende a dividir por una cifra" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
 <a href="/niveles?tema=<%= session[:tema_id]%>" class="boton">Volver</a>

</body>
</html>