<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="refresh" content="30">
  <meta name="author" content="Giovanni Buchieri">
  <meta name="author" content="Santiago Vazquez">
  <meta name="author" content="Uriel Guzman">
	<meta name="description" content="Our first team app">

  <title> Lobby </title>

  <link rel="icon" href="https://i.imgur.com/Nl7KAcL.png">
  <link href="<%= url('/log_without_tm_ICO.ico') %>" rel="icon" type="image/ico">
  <link href="<%= url('/login.css') %>" rel="stylesheet" type="text/css"/>
</head>

<body>
  <div class = "error_register">
    <h3>Ha Ocurrido un Error</h3>
    <%if (@exist_user && @exist_user != nil) || (@exist_email && @exist_email != nil)%>
        <p>El nombre de usuario o email ya ha sido usado</p>
        <%if @modify%>
          <a href="/modificar_perfil" class="boton">Volver a intentarlo</a>
        <%else%>
          <a href="/registrar" class="boton">Volver a intentarlo</a>
        <%end%>
    <%else%>
      <%if !@sonIguales && @sonIguales != nil%>
        <p>Las contraseñas no coinciden</p>
        <a href="/registrar" class="boton">Volver a intentarlo</a>
      <%else%>
        <p> Usuario o Contraseña equivocadas </p>
        <a href="/" class="boton">Volver a intentarlo</a>
      <%end%>
    <%end%>
  </div>
</body>
