<!DOCTYPE html>
<html>
<head>
  <title>Mi Perfil</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="https://i.imgur.com/Nl7KAcL.png">
	 <link href="<%= url('/perfil.css') %>" rel="stylesheet" type="text/css"/>
</head>
<body>
  <center>
    <h1>El usuario ya esta en uso</h1>
    <a href="/modificar_perfil" class="boton">Volver a intentarlo</a>
  </center>
</body>

