<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="refresh" content="30">
  <meta name="author" content="Giovanni Buchieri">
  <meta name="author" content="Santiago Vazquez">
  <meta name="author" content="Uriel Guzman">
	<meta name="description" content="Our first team app">

  <title> Lobby </title>

  <link rel="icon" href="https://i.imgur.com/Nl7KAcL.png">
  <link href="<%= url('/log_without_tm_ICO.ico') %>" rel="icon" type="image/ico">
  <link href="<%= url('/loginerror.css') %>" rel="stylesheet" type="text/css"/>

</head>

<body>
  <center>
  <h3>No se pudo registrar el usuario</h3>
  <p>El nombre de usuario ya existe</p>
  <a href="/registrar" class="boton">Volver a intentarlo</a>
  </center>
</body>
