<!DOCTYPE html>
<html>
<head>
  <title>SUG-MATH</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="https://i.imgur.com/Nl7KAcL.png">

  <!-- <link rel="stylesheet" href="/css/style.css"> -->
</head>
  <head>
    <title> Menu </title>
    <style>

button {
  background-color:black ; /* Color de fondo */
  border: none; /* Sin borde */
  color: white; /* Color del texto */
  padding: 15px 32px; /* Espaciado interno */
  text-align: center; /* Alineación de texto */
  display: inline; /* Mostrar como bloque en línea */
  font-size: 16px; /* Tamaño de fuente */
  margin: none ; /* Margen exterior */
  cursor: pointer; /* Cambiar el cursor del mouse */
}

body {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
}

.menu-lateral {
	background-color: black;
	color: #fff;
	height: 100vh;
	width: 200px;
	position: fixed;
	top: 0;
	left: 0;
	overflow-y: auto;
}

.menu-lateral ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.menu-lateral li {
	padding: 10px;
}

.menu-lateral li a {
	color: red;
	text-decoration: none;
}

.contenido-principal {
	margin-left: 200px;
	padding: 20px;
}

</style>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initialinitial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="estilos.css">
  </head>
  <body>
    <div class="menu-lateral">
      <ul><center>
        <li><a><form action="/perfil" method="post">
               <button type="submit">Perfil</button>
               </form> </a>
        <li><a><form action="/Logro" method="post">
               <button type="submit">Logros</button>
               </form></a>
        <li><a><form action="/logout" method="post">
               <button type="submit">Logout</button>
               </form>
            </a> 
            </center>    
      </ul>
    </div>
    <div class="contenido-principal">
      <p><center>Contenido Principal</center></p>
    </div>
  </body>
</html>
