<!DOCTYPE html>
<html>
<head>
  <title>SUG-MATH</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="https://i.imgur.com/Nl7KAcL.png">

  <!-- <link rel="stylesheet" href="/css/style.css"> -->
    <title> Menu </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initialinitial-scale=1.0">
  <link href="<%= url('/juego.css') %>" rel="stylesheet" type="text/css"/>
  </head>
  <body>
    <div class="menu-lateral">
      <ul><center>
        <li>
            <a href="/perfil" class="boton">Perfil</a>
        <li><a><form action="/logros" method="get">
               <button type="submit">Logros</button>
               </form></a>
        <li><a><form action="/logout" method="post">
               <button type="submit">Logout</button>
               </form>
            </a>
            </center>
      </ul>
    </div>
    <div class="contenido-principal">
      <p><center>Contenido Principal</center></p>

      <div>
        <form action="/guardarPregunta" method="POST">
          <div class="form-question">
            <label for="pregunta"><b>Pregunta:</b></label>
            <input type="text" placeholder="Ingresa Pregunta" name="pregunta" required>
          </div>

          <div class="form-question">
            <label for="respuesta"><b>Respuesta:</b></label>
            <input type="text" placeholder="Ingresa Respuesta" name="respuesta" required>
          </div>

          <div class="form-question">
            <button type="submit">Enviar</button>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
