<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guia</title>
    <link rel="icon" href="https://i.imgur.com/Nl7KAcL.png">
    <link href="<%= url('/guia.css') %>" rel="stylesheet" type="text/css"/>
  <!-- <link rel="stylesheet" href="/css/style.css"> -->
</head>
<html>
<head>
  <title>Página de aprendizaje</title>
</head>
<body>
  <h1>Multiplicación</h1>

  <h2>Definicion</h2>
  <p>La multiplicación es aquella operación mediante la cual se suma un número por sí mismo tantas veces como lo señala otro número.</p>

  <h2>Partes de la multiplicación</h2>
  <ul>
    <li>Factores: Los factores son los números que se multiplican.</li>
    <li>Producto: El producto es el resultado de la multiplicación.</li> 
    <li>Multiplicando: El multiplicando es el factor que se encuentra arriba en la multiplicación.</li>
    <li>Multiplicador: El multiplicador es el factor que se encuentra debajo del multiplicando</li>
  </ul>
  <h2>Propiedades</h2>
  <ul>
    <li>Propiedad conmutativa: Significa que el orden de los factores no altera el producto. Es decir, 11×3 es igual que 3×11, no importa cuál de los factores va primero, el resultado no se va a alterar.</li>
    <li>Propiedad asociativa: Significa que si tenemos que hacer la siguiente operación 5×3 y el resultado lo multiplicamos ×4, el resultado final es el mismo que multiplicar 3×4 y el resultado multiplicarlo ×5. En ambos casos el resultado es 60.</li>
    <li>Propiedad distributiva: La propiedad distributiva nos señala que, si multiplicamos el resultado de una suma (o resta) por un número x, obtenemos el mismo resultado que si multiplicamos cada uno de los términos que se están sumando (o restando) por x y luego los sumáramos (o restáramos).</li>
    <li>Multiplicar por cero: Cualquier número multiplicado por cero es igual a cero.</li>
    <li>Multiplicar por uno: Un número multiplicado por 1 es igual al mismo número.</li>
    <li>Multiplicar por diez: El producto de cualquier número n multiplicado por diez, o una potencia de diez, es igual a n más el número de ceros que posee el multiplicador a la derecha. En este sentido, si multiplico 4×100, el resultado será 4, más dos ceros a la derecha. Es decir, 400. De igual modo, 7×1.000 será igual a 7 más tres ceros a la derecha. Por tanto, 7.000.</li>
  </ul>
  <h2>Video explicativo</h2>
  <iframe width="727" height="409" src="https://www.youtube.com/embed/AE4B0hgnz0E" title="COMO HACER UNA MULTIPLICACIÓN Super fácil  - Para principiantes" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
 <a href="/niveles?tema=<%= session[:tema_id]%>" class="boton">Volver</a>

</body>
</html>