<!DOCTYPE html>
<html>
<head>
  <title>Mi Perfil</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="https://i.imgur.com/Nl7KAcL.png">

  <!-- <link rel="stylesheet" href="/css/style.css"> -->
</head>
<head>
	<title>Mi Perfil</title>
	<style>
		h1{
			color: red;
		}
		.container {
			display: flex;
			flex-direction: column;
			align-items: center;
			padding: 20px;
		}
		img {
			border-radius: 50%;
			width: 150px;
			height: 150px;
			object-fit: cover;
			margin-bottom: 10px;
		}


	</style>
</head>
<body>
	<center>
		<img src="https://www.geekmi.news/__export/1648482779692/sites/debate/img/2022/03/28/vegeta-majin.jpg_554688468.jpg">

	</center>

	<div class="container">
		<h1>Perfil de <%= @user.name %></h1>
		<p>Nombre: <%= @user.name %></p>
	</div>
	<div>
		<a href="/modificar_perfil" class="boton">Modificar</a>
		<a href="/principal" class="boton">Volver Pagina Principal</a>
	</div>
</body>
</html>
