<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="<%= url('/pregunta.css') %>" rel="stylesheet" type="text/css"/>

</head>
<body>

    <div id="pregunta">
    <ul>
        <button type="subit" id="resp-1">op 1</button>
        <button type="subit" id="resp-2">op 2</button>
        <button type="subit" id="resp-3">op 3</button>
        <button type="subit" id="resp-3">op 4</button>
    </ul>
    </div>
</body>