<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="<%= url('/pregunta.css') %>" rel="stylesheet" type="text/css"/>
</head>
<body>
  <center>
  <h1 id="h1">⁛ Felicidades respondiste todas las preguntas ⁛</h1>
  <p>Terminaste el nivel, Espero que te hayas divertido... Sigue con el siguiente</p>
  <a href="/niveles?tema=<%= session[:tema_id]%>" class="boton">Volver</a>
  </center>
</body>
