<!DOCTYPE html>
<html>
<head>
  <title>SUG-MATH</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="https://i.imgur.com/Nl7KAcL.png">

  <!-- <link rel="stylesheet" href="/css/style.css"> -->
    <style> 
    h1{
    display: flex;
    align-items: center;
    justify-content: center;
    }

    .form-group, .login{
    display: flex;
    align-items: center;
    justify-content: center;
    }

    body{
    background-color: rgb(134, 222, 222);
    }
  </style>

</head>
<body>
  <h1>Registra Tu Cuenta</h1>
  <form action="/register" method="post">
    <div class="form-group">
      <label for="uname"><b>Username:</b></label>
      <input type="text" placeholder="Enter username" name="uname" required>
    </div>
    <div class="form-group">
      <label for="psw"><b>Conseña:</b></label>
      <input type="password" placeholder="Enter password" name="psw" required>
    </div>
    <div class="form-group">
      <button type="submit">Registrar</button>
    </div>
  </form>

  <div class="login">
    <a href="/"><button>Volver a Login</button></a>
  </div>
</body>
</html>
