<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="https://i.imgur.com/Nl7KAcL.png">
  <meta name="author" content="Giovanni Buchieri">
  <meta name="author" content="Santiago Vazquez">
  <meta name="author" content="Uriel Guzman">
	<meta name="description" content="Our first team app">

  <title>SUG-MATH</title>

  <link href="<%= url('/log_without_tm_ICO.ico') %>" rel="icon" type="image/ico">
  <link href="<%= url('/resgister.css') %>" rel="stylesheet" type="text/css"/>


</head>
<body>
  <h1>Registra Tu Cuenta</h1>
  <form action="/register" method="post">
    <div class="form-group">
      <label for="uname"><b>Username:</b></label>
      <input type="text" placeholder="Enter username" name="uname" required>
    </div>
    <div class="form-group">
      <label for="email"><b> Email: </b></label>
      <input type="email" placeholder="Ingresa Email" name="email" required id="email">
    </div>
    <div class="form-group">
      <label for="psw"><b> Password: </b></label>
      <input type="password" placeholder="Enter password" name="psw" required id="psw">
    </div>
    <div class="form-group">
      <button type="submit">Registrar</button>
    </div>
  </form>

  <div class="login">
    <a href="/"><button>Volver a Login</button></a>
  </div>
</body>
</html>
