<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guia</title>
    <link rel="icon" href="https://i.imgur.com/Nl7KAcL.png">
    <link href="<%= url('/guia.css') %>" rel="stylesheet" type="text/css"/>
  <!-- <link rel="stylesheet" href="/css/style.css"> -->
</head>
<html>
<head>
  <title>Página de aprendizaje</title>
</head>
  <body>
    <h1>Resta</h1>
    <h2>Definicion</h2>
    <p>La resta o la sustracción es una operación aritmética que se representa con el signo "-" y representa la operación de eliminación de objetos de una colección.</p> 
    <h2>Partes de la resta</h2>
    <p>Los números que intervienen en la resta también reciben nombres para poderlos identificar.
      Al número que se le quita o se le sustrae es denominado minuendo, el número que resta o sustrae es llamado sustraendo y, finalmente, al resultado se le conoce como resta o diferencia de los números.
      En el caso de la resta:8-3 = 5 , el ocho es el minuendo, el tres es el sustraendo y la diferencia es cinco.
    </p>

    <h2>Video explicativo</h2>
    <iframe width="727" height="409" src="https://www.youtube.com/embed/L6NOkLq6kHk" title="COMO HACER UNA RESTA Super Facil  - RESTA para principiantes" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    <a href="/niveles?tema=<%= session[:tema_id]%>" class="boton">Volver</a>

  </body>
</html>
