<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guia</title>
    <link rel="icon" href="https://i.imgur.com/Nl7KAcL.png">
    <link href="<%= url('/guia.css') %>" rel="stylesheet" type="text/css"/>
  <!-- <link rel="stylesheet" href="/css/style.css"> -->
</head>
<html>
<head>
  <title>Página de aprendizaje</title>
</head>
<body>
  <h1>Suma</h1>
  <h2>Definicion</h2>
  <p>La suma es la acción de añadir, juntar o agregar elementos, cuando realizamos esta acción estamos uniendo cantidades o conjuntos y para ello siempre debe haber un mínimo de dos elementos.</p>

   <h2>Partes de la suma</h2>
    <p>A los números que intervienen en una suma se les denomina sumandos, al resultado de la operación lo llamamos suma o resultado. Por ejemplo, en el caso de la operación 2+8 = 10 , el 2 y el 8 son sumandos y el 10 es la suma o resultado.

    </p>

  <h2>Video explicativo</h2>
<iframe width="853" height="479" src="https://www.youtube.com/embed/oF-rZLIShC8" title="COMO HACER UNA SUMA Super Facil - Sumas para principiantes" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
 <a href="/niveles?tema=<%= session[:tema_id]%>" class="boton">Volver</a>

</body>
</html>







